.main
{
	
	width: 70%;
	background: #fff;
	height: 80%;
	display: inline-block;
}

.books
{

	list-style: none;
	margin: 15px;
	padding: 0;
	overflow: hidden;
}

.books li
{
	border: 5px solid black;
	width: 190px;
	text-align: center;
	height: 240px;
	float: left;
	margin: 20px 10px;
	font-size: 15px;
}

.books b
{
	display: block;
	margin: 5px 0;
	font-weight: normal;
}

.books i
{
	color: #E74C3C;
}

a.add-to-cart
{
	font-size: 13px;
	display: block;
	background: #1ABC9C;
	color: #fff;
	padding: 5px 0;
	margin: 5px 30px;
}
